
# Route scoped packages to GitHub Packages

# Authenticate all GitHub Packages requests using your token
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}

@passiolife:registry=https://npm.pkg.github.com


# Fallback for unscoped packages to the public npm registry
registry=https://registry.npmjs.org/